<div class="col-lg-8 col-lg-offset-2">
                <section class="panel">
                    <header class="panel-heading">
                        Problem Forms
                    </header>
                    <div class="panel-body">
                        <div class="position-left">
                            
                            <%= form_for @problem,html:{class: 'form-horizontal'} do |f| %>
                            
                            <div class="form-group">
                                
                                <%= f.label :name,class: 'col-lg-3 col-sm-4 control-label' %>
                                <div class="col-lg-9 col-sm-8">
                                 <%= f.text_area :name,class: 'form-control' %>   
                                    
                                </div>
                            </div>
                            

                            <div class="form-group">
                                
                                <%= f.label :solution,class: 'col-lg-3 col-sm-4 control-label' %>
                                <div class="col-lg-9 col-sm-8">
                                 <%= f.text_area :solution,class: 'form-control' %>   
                                    
                                </div>
                            </div>

                            <div class="form-group">
                                
                                <%= f.hidden_field :user_id,value: current_user.id %>
                                
                            </div>                          

                            



                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-10">
                                    <%= f.submit 'Submit',class:'btn btn-success' %>
                                    <%= link_to 'Back', admin_path,class:'btn btn-info' %>
                                </div>
                            </div>



                        <% end %>
                        </div>
                    </div>
                </section>

            </div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.0/tinymce.min.js"></script>

<script type="text/javascript">
    tinymce.init({
        selector: 'textarea',
        height: 200,
        width:630,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });
</script>